<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/showall.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>All</title>
  </head>
  <body>
    <div class="row">
      <nav class='nav-extended'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo'>TradeTrack</a>
          <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
          <ul id='nav-mobile' class='right hide-on-med-and-down'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href=''>Log Out</a></li>
          </ul>
          <ul class='side-nav' id='mobile-demo'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href='#'>Log Out</a></li>
          </ul>

          <ul class='tabs tabs-transparent'>
            <li class='tab'><a href='/'>Home</a></li>
            <li class='tab'><a href='/transactions/new'>Trade</a></li>
            <li class='tab'><a href='/positions/open'>Open Positions</a></li>
            <li class='tab'><a href='/positions/closed'>Closed Positions</a></li>
          </ul>
        </div>
      </nav>
    </div>
  <!-- TC2000 Chart BEGIN -->
  <!-- <div class="container"> -->
    <div class="TC2000-container">
      <div class="row">
      <!-- <div class="TC2000-container"> -->
        <div class="col s12 m4 l4">
          <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29641"></iframe>
        </div>
          <!-- </div> -->
          <!-- <div class="TC2000-container"> -->
        <div class="col s12 m4 l4">
          <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29646"></iframe>
        </div>
          <!-- </div> -->
          <!-- <div class="TC2000-container"> -->
        <div class="col s12 m4 l4">
          <iframe class="iframe-class" scrolling="no" frameborder="0" src="https://widgets.tc2000.com/WidgetServer.ashx?id=29737"></iframe>
        </div>
          <!-- </div> -->
      </div>
    </div>
  <!-- </div> -->
  <!-- TC2000 Chart END -->

    <%- include("../partials/footer") %>
    
  </body>
</html>
