<div class='row'>
  <nav class='nav-extended'>
    <div class='nav-wrapper'>
      <a href='/' class='brand-logo'>TradeTrack</a>
      <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
      <ul id='nav-mobile' class='right hide-on-med-and-down'>
        <li><a href='/users/new'>Sign Up</a></li>
        <li><a href='/token/login'>Log In</a></li>
        <li><a href=''>Log Out</a></li>
      </ul>
      <ul class='side-nav' id='mobile-demo'>
        <li><a href='/users/new'>Sign Up</a></li>
        <li><a href='/token/login'>Log In</a></li>
        <li><a href='#'>Log Out</a></li>
      </ul>

      <ul class='tabs tabs-transparent'>
        <li class='tab'><a class='<%= home ? "active" : ""%>' href='/'>Home</a></li>
        <li class='tab'><a class='<%= trade ? "active" : ""%>' href='/transactions/new'>Trade</a></li>
        <li class='tab'><a class='<%= open ? "active" : ""%>' href='/positions/open'>Open Positions</a></li>
        <li class='tab'><a class='<%= closed ? "active" : ""%>' href='/positions/closed'>Closed Positions</a></li>
      </ul>
    </div>
  </nav>
</div>
