
/* =============================================================================
BEGIN CSS for TC2000 charts for resizing*/
.TC2000-container {
  width: 100%;
  height: 310px;
}
.iframe-class {
  width: 100%;
  height: 100%;
  height: 300px;
  /*border: 1px solid red;*/
  overflow: auto;
}
