/* =============================================================================
Site */

a.brand-logo {
  margin-left: 10px;
  font-weight:800;
  color: #FFC107;
}

/* =============================================================================
CSS for Open Position Table */
.stock-table {
  width: 95%
}

/* =============================================================================
Input form colors */

/* label color */
 .input-field label {
   color: #757575
 }

/* option text color */
 ul.dropdown-content.select-dropdown li span {
     color: #757575;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #FFC107;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #FFC107;
   box-shadow: 0 1px 0 0 #FFC107;
 }

 .input-field input[type=number]:focus {
   border-bottom: 1px solid #FFC107;
   box-shadow: 0 1px 0 0 #FFC107;
 }

.input-field input[type=date]:focus {
   border-bottom: 1px solid #FFC107;
   box-shadow: 0 1px 0 0 #FFC107;
 }

 .input-field input[type=email]:focus {
   border-bottom: 1px solid #FFC107;
   box-shadow: 0 1px 0 0 #FFC107;
 }

 .input-field input[type=password]:focus {
   border-bottom: 1px solid #FFC107;
   box-shadow: 0 1px 0 0 #FFC107;
 }


/* =============================================================================
Buttons */

button.submit {
  background-color: #FFC107;
}

button.submit:hover {
  background-color: #ffd740;
}

/* =============================================================================
Typography */

h3 {
  color: #455A64; /* blue-grey */
  text-transform: uppercase;
  text-shadow: 2px 2px 1px #DDD;
}

h4 {
  color: #607d8b; /* blue-grey lighten-2 */
  text-transform: uppercase;
  font-weight: 800;
  margin: 6px 0;
  /*letter-spacing: .1em;*/
}

h5 {
  color: #607d8b; /* blue-grey */
}

.error-msg {
  color: #e57373;
}

/* =============================================================================
Images */

img:first-of-type {
  margin-top: 40px;
}

img.logo {
  max-height: 125px;
  max-width: 250px;
  margin-bottom: 20px;
}

/* =============================================================================
Navigation */

nav {
  color: #fff;
  background-color: #455A64; /* blue-grey darken-3 */
}

ul#mobile-demo li a {
  color: #FFC107;
}

/* =============================================================================
CSS for TC2000 charts for resizing*/
.TC2000-container {
  width: 100%;
  height: 310px;
}
.iframe-class {
  width: 100%;
  height: 100%;
  height: 300px;
  /*border: 1px solid red;*/
  overflow: auto;
}

/* =============================================================================
Footer */

#github {
  text-decoration: underline;
}

#footer {
  margin: 0;
  padding: 0;
}

.footer-row {
  margin: 0;
}

footer.page-footer {
  background-color: #607D8B; /* blue-grey lighten-2 */
}

footer.page-footer .footer-copyright {
  background-color: #455A64; /* blue-grey darken-3 */
}
