<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About</title>
  </head>
  <body>
    <div class="row">
      <nav class='nav-extended'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo'>TradeTrack</a>
          <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
          <ul id='nav-mobile' class='right hide-on-med-and-down'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href=''>Log Out</a></li>
          </ul>
          <ul class='side-nav' id='mobile-demo'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href='#'>Log Out</a></li>
          </ul>

          <ul class='tabs tabs-transparent'>
            <li class='tab'><a href='/'>Home</a></li>
            <li class='tab'><a href='/transactions/new'>Trade</a></li>
            <li class='tab'><a href='/positions/open'>Open Positions</a></li>
            <li class='tab'><a href='/positions/closed'>Closed Positions</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <main class="container">
      <div class="row">
        <div class="col s12 m6">
          <h3>About this Site</h3>
          <p>TradeTrack is a stock market portfolio dashboard/manager with
            performance analytics, an equity tracker that will provide quick
            view dashboard of the current market conditions along with current
            portfolio holdings. Analytics will be also be provided on closed
            positions to aid making future decisions.
          </p>
          <p>This project uses the following techologies:
            <ul>
              <li>Backend: JS6, Node, Express, bcrypt</li>
              <li>Pages: EJS</li>
              <li>CSS: Materialize</li>
              <li>Database: Postgres</li>
              <li>APIs: Yahoo Finance, quandl, Wolfram Alpha</li>
            </ul>
          </p>
          <p>Feature List:
            <ul>
              <li>User Authentication and Authorization</li>
              <li>Dashboard</li>
              <li>Enter Transactions / Trades</li>
            </ul>
          </p>
       </div>
       <div class="col m1">
       </div>
       <div class="col s12 m5 center">
           <img class="logo" src="../images/es6-logo.png" alt="JavaScript">
           <img class="logo" src="../images/html5css3badges.png" alt="HTML5 CSS3">
           <img class="logo" src="../images/nodejs-logo.png" alt="nodeJS">
           <img class="logo" src="../images/express.png" alt="express">
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
    
  </body>
</html>
