<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact</title>
  </head>
  <body>
    <div class="row">
      <nav class='nav-extended'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo'>TradeTrack</a>
          <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
          <ul id='nav-mobile' class='right hide-on-med-and-down'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href=''>Log Out</a></li>
          </ul>
          <ul class='side-nav' id='mobile-demo'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href='#'>Log Out</a></li>
          </ul>

          <ul class='tabs tabs-transparent'>
            <li class='tab'><a href='/'>Home</a></li>
            <li class='tab'><a href='/transactions/new'>Trade</a></li>
            <li class='tab'><a href='/positions/open'>Open Positions</a></li>
            <li class='tab'><a href='/positions/closed'>Closed Positions</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <main class="container">
      <div class="row">
        <div class="col s12 m6">
          <h3>The Puppy Whisperer</h3>
          <p>Following the success of his book <em>The Dog Whisperer</em>, Paul Owens turns his
            attention to puppies. In this book, Owens and his protégé Terence
            Cranendonk offer a compassionate step-by-step guide to all things puppy,
            including how to:
          </p>
          <ul class="browser-default">
            <li>Evaluate temperament</li>
            <li>Choose the right pup personality for your family</li>
            <li>Monitor diet, play, and exercise</li>
            <li>Train and problem solve</li>
            <li>Provide early socialization and positive training</li>
            <li>Potty train, step-by-step</li>
            <li>Ensure safety and health care, including the latest on vaccinations</li>
          </ul>
          <p>Puppies can be a lot of work, but they can also be a furry bundle of
            joy. If you're thinking of bringing a puppy into your home,
            <a href="https://www.amazon.com/Puppy-Whisperer-Compassionate-Violent-Training/dp/1593375972" target="_blank">The
            Puppy Whisperer</a> is your must-have guide.
          </p>
        </div>
        <div class="col m1">
        </div>
        <div class="col s12 m5 center">
          <a href="https://www.amazon.com/Puppy-Whisperer-Compassionate-Violent-Training/dp/1593375972" target="_blank">
            <img class="z-depth-2" src="../images/book-cover.jpg" alt="The Puppy Whisperer Book Cover">
        </div>
      </div>
    </main>

    <footer class='page-footer'>
      <div class='container'>
        <div class='row'>
          <div class='col l6 s12'>
            <!-- <h5 class='white-text'>Footer Content</h5> -->
            <p class='grey-text text-lighten-4'>Software is never finished.</p>
          </div>
          <div class='col l4 offset-l2 s12'>
            <!-- <h5 class='white-text'>Links</h5> -->
            <ul>
              <li><a class='grey-text text-lighten-3' href='/site/contact'>Contact</a></li>
              <li><a class='grey-text text-lighten-3' href='/site/about'>About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container'>
        © 2016 RD Devs. All Rights Reserved
        <a class='grey-text text-lighten-4 right' href='https://github.com/bigrobsf/tradetrack' target='_blank'>on github</a>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
  </body>
</html>
