<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact</title>
  </head>
  <body>

    <%- include("../partials/nav", {home: false, trade: false, open: false, closed: false}) %>

    <main class="container">
      <div class="row">
        <div class="col s12 m5">
          <h4>Big Rob</h4>
          <a href="https://www.linkedin.com/in/robconner" target="_blank">LinkedIn - Rob Conner</a>
          <p>Rob began his professional career as an accountant and after moving
            to San Francisco found himself in charge of his employer's customer
            contract database. He discovered the magic of databases and returned
            to school and earned a M.S. in Database Development and
            Administration in 2005.
          </p>
          <p>After years of application-layer system administration, he longed to
            return to development and enrolled in the Galvanize Web Development
            Immersive program to pivot to a career as a full-stack software engineer.
          </p>
          <p>When Rob isn't solving problems through code or learning new
            technologies, he can be found developing his body at the gym or traveling
            the world.</p>
        </div>
        <div class="col m1">
        </div>
        <div class="col s12 m5">
          <h4>Data Dave</h4>
          <a href="https://www.linkedin.com/in/davidshin1" target="_blank">LinkedIn - David Shin</a>
          <p>Dave's mom - a programmer - actually wanted to name him Data.
            Luckily for him, the idea was shot down. However, he did end up being
            somewhat analytical, and thus after getting a degree in Chemistry, he
            decided to go to graduate school in Biochemistry.
          </p>
          <p>During his postdoctoral training in Structural Biology, he found
            himself doing computations in the UNIX environment. At that time he
            also became interested in the stock market and writing technical analysis screens using Python and shell scripts.
          </p>
          <p>Dave spends his free time learning new things via MOOCs, competing
            in Brazilian Jiu-Jitsu, and swing trading stocks when he can get up early enough.</p>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
