<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact</title>
  </head>
  <body>

    <%- include("../partials/nav", {home: false, trade: false, open: false, closed: false}) %>

    <main class="container">
      <div class="row">
        <div class="col s12 m5">
          <h4>Big Rob</h4>
          <a href='https://www.linkedin.com/in/robconner' target='_blank'>LinkedIn - Rob Conner</a>
          <p>Rob began his professional career as an accountant and after moving
            to San Francisco found himself in charge of his employer's customer
            contract database. He discovered the magic of databases and returned
            to school and earned a M.S. in Database Development and
            Administration in 2005.
          </p>
          <p>After years of application-layer system administration, he longed to
            return to development and enrolled in the Galvanize Web Development
            Immersive program to pivot to a career as a full-stack software engineer.
          </p>
          <p>When Rob isn't solving problems through code, he can be
            found developing his body at the gym or traveling the world.</p>
        </div>
        <div class="col m1">
        </div>
        <div class="col s12 m5">
          <h4>Data Dave</h4>
          <a href='https://www.linkedin.com/in/davidshin1' target='_blank'>LinkedIn - David Shin</a>
          <p>TradeTrack succulents hammock kale chips. Letterpress fixie
            health goth, heirloom craft beer mixtape gluten-free sriracha kogi
            franzen scenester etsy vinyl. Meggings iPhone bitters, cardigan
            tattooed 90's retro food truck neutra synth umami.
          </p>
          <p>Paleo Williamsburg
            intelligentsia leggings heirloom flannel, schlitz retro shabby chic
            sustainable trust fund kale chips. Fap food truck plaid gochujang
            PBR&amp;B mlkshk vexillologist.
          </p>
          <p>Gentrify tote bag man braid, biodiesel
            taxidermy craft beer iceland trust fund venmo shoreditch raw denim.
            Readymade irony squid, blue bottle actually tofu succulents XOXO
            migas drinking vinegar beard.</p>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
