<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Contact</title>
  </head>
  <body>

    <%- include("../partials/nav", {home: false, trade: false, open: false, closed: false}) %>

    <main class="container">
      <div class="row">
        <div class="col s12 m5">
          <h4>Big Rob</h4>
          <p>Following the success of his book <em>The Dog Whisperer</em>, Paul Owens turns his
            attention to puppies. In this book, Owens and his protégé Terence
            Cranendonk offer a compassionate step-by-step guide to all things puppy,
            including how to:
          </p>
          <ul class="browser-default">
            <li>Evaluate temperament</li>
            <li>Choose the right pup personality for your family</li>
            <li>Monitor diet, play, and exercise</li>
            <li>Train and problem solve</li>
            <li>Provide early socialization and positive training</li>
            <li>Potty train, step-by-step</li>
            <li>Ensure safety and health care, including the latest on vaccinations</li>
          </ul>
          <p>Puppies can be a lot of work, but they can also be a furry bundle of
            joy. If you're thinking of bringing a puppy into your home,
            <a href="https://www.amazon.com/Puppy-Whisperer-Compassionate-Violent-Training/dp/1593375972" target="_blank">The
            Puppy Whisperer</a> is your must-have guide.
          </p>
        </div>
        <div class="col m1">
        </div>
        <div class="col s12 m5">
          <h4>Data Dave</h4>
          <p>Following the success of his book <em>The Dog Whisperer</em>, Paul Owens turns his
            attention to puppies. In this book, Owens and his protégé Terence
            Cranendonk offer a compassionate step-by-step guide to all things puppy,
            including how to:
          </p>
          <ul class="browser-default">
            <li>Evaluate temperament</li>
            <li>Choose the right pup personality for your family</li>
            <li>Monitor diet, play, and exercise</li>
            <li>Train and problem solve</li>
            <li>Provide early socialization and positive training</li>
            <li>Potty train, step-by-step</li>
            <li>Ensure safety and health care, including the latest on vaccinations</li>
          </ul>
          <p>Puppies can be a lot of work, but they can also be a furry bundle of
            joy. If you're thinking of bringing a puppy into your home,
            <a href="https://www.amazon.com/Puppy-Whisperer-Compassionate-Violent-Training/dp/1593375972" target="_blank">The
            Puppy Whisperer</a> is your must-have guide.
          </p>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
