<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <link href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <link type='text/css' rel='stylesheet' href='../css/materialize.css'  media='screen,projection'/>
    <link rel='stylesheet' href='../css/style.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>Home</title>
  </head>
  <body>
    <div class='row'>
      <nav class='nav-extended'>
        <div class='nav-wrapper'>
          <a href='/' class='brand-logo'>TradeTrack</a>
          <a href='#' data-activates='mobile-demo' class='button-collapse'><i class='material-icons'>menu</i></a>
          <ul id='nav-mobile' class='right hide-on-med-and-down'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href=''>Log Out</a></li>
          </ul>
          <ul class='side-nav' id='mobile-demo'>
            <li><a href='/users/new'>Sign Up</a></li>
            <li><a href='/token/login'>Log In</a></li>
            <li><a href='#'>Log Out</a></li>
          </ul>

          <ul class='tabs tabs-transparent'>
            <li class='tab'><a class='active' href='/'>Home</a></li>
            <li class='tab'><a href='/transactions/new'>Trade</a></li>
            <li class='tab'><a href='/positions/open'>Open Positions</a></li>
            <li class='tab'><a href='/positions/closed'>Closed Positions</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <main class='container'>
      <div class='row'>
        <div class='col s12 m12'>
          <h5>Welcome <%= typeof userName!= 'undefined' ? userName : 'guest' %>!</h5>
        </div>
      </div>
      <div class='row'>
        <div class='col s12 m6'> <!-- holds page rows -->
          <h3>Home</h3>
          <p>TradeTrack succulents hammock kale chips. Letterpress fixie
            health goth, heirloom craft beer mixtape gluten-free sriracha kogi
            franzen scenester etsy vinyl. Meggings iPhone bitters, cardigan
            tattooed 90's retro food truck neutra synth umami.
          </p>
          <p>Paleo Williamsburg
            intelligentsia leggings heirloom flannel, schlitz retro shabby chic
            sustainable trust fund kale chips. Fap food truck plaid gochujang
            PBR&amp;B mlkshk vexillologist.
          </p>
          <p>Gentrify tote bag man braid, biodiesel
            taxidermy craft beer iceland trust fund venmo shoreditch raw denim.
            Readymade irony squid, blue bottle actually tofu succulents XOXO
            migas drinking vinegar beard.</p>
         </div>

         <div class='col s12 m6 center'>
             <img class='photo z-depth-2' src='#' alt='DJI chart here'>
        </div>
      </div> <!-- end first row -->

      <div class='row'>
        <div class='col s12 m6 center'>
           <img class='photo z-depth-2' src='#' alt='NASDAQ chart here'>
       </div>

       <div class='col s12 m6 center'>
           <img class='photo z-depth-2' src='#' alt='S&amp;P 500 chart here'>
        </div>
      </div> <!-- end second row -->
    </main>

    <footer class='page-footer'>
      <div class='container'>
        <div class='row'>
          <div class='col l6 s12'>
            <!-- <h5 class='white-text'>Footer Content</h5> -->
            <p class='grey-text text-lighten-4'>You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class='col l4 offset-l2 s12'>
            <!-- <h5 class='white-text'>Links</h5> -->
            <ul>
              <li><a class='grey-text text-lighten-3' href='/site/contact'>Contact</a></li>
              <li><a class='grey-text text-lighten-3' href='/site/about'>About</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='footer-copyright'>
        <div class='container'>
        © 2016 RD Devs. All Rights Reserved
        <a class='grey-text text-lighten-4 right' href='#!'>More Links</a>
        </div>
      </div>
    </footer>

    <script type='text/javascript' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script type='text/javascript' src='../js/materialize.js'></script>
  </body>
</html>
