<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <link href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <link type='text/css' rel='stylesheet' href='../css/materialize.css'  media='screen,projection'/>
    <link rel='stylesheet' href='../css/style.css'>
    <link rel='shortcut icon' type='image/x-icon' href='file://localhost/Users/rob/Downloads/favicon.ico'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>TradeTrack</title>
  </head>
  <body>

    <%- include("../partials/nav", {home: true, trade: false}) %>

    <main class='container'>
      <div class='row'>
        <div class='col s12 m12'>
          <h5>Welcome <%= typeof userName!= 'undefined' ? userName : 'guest' %>!</h5>
        </div>
      </div>
      <div class='row'>
        <div class='col s12 m6'> <!-- holds page rows -->
          <h3>Home</h3>
          <p>TradeTrack succulents hammock kale chips. Letterpress fixie
            health goth, heirloom craft beer mixtape gluten-free sriracha kogi
            franzen scenester etsy vinyl. Meggings iPhone bitters, cardigan
            tattooed 90's retro food truck neutra synth umami.
          </p>
          <p>Paleo Williamsburg
            intelligentsia leggings heirloom flannel, schlitz retro shabby chic
            sustainable trust fund kale chips. Fap food truck plaid gochujang
            PBR&amp;B mlkshk vexillologist.
          </p>
          <p>Gentrify tote bag man braid, biodiesel
            taxidermy craft beer iceland trust fund venmo shoreditch raw denim.
            Readymade irony squid, blue bottle actually tofu succulents XOXO
            migas drinking vinegar beard.</p>
         </div>

         <div class='col s12 m6 center'>
             <img class='photo z-depth-2' src='#' alt='DJI chart here'>
        </div>
      </div> <!-- end first row -->

      <div class='row'>
        <div class='col s12 m6 center'>
           <img class='photo z-depth-2' src='#' alt='NASDAQ chart here'>
       </div>

       <div class='col s12 m6 center'>
           <img class='photo z-depth-2' src='#' alt='S&amp;P 500 chart here'>
        </div>
      </div> <!-- end second row -->
    </main>

    <%- include("../partials/footer") %>

  </body>
</html>
